@import "variables.css";

.siderbar {
  width: 320px;
  background-color: var(--bg-sidebar);
  color: var(--titles-sidebar);
  font-family: var(--bold-font);
  height: 100%;
  position: absolute;
  z-index: 100;
}

.list {
  padding-top: 5rem;
}

.sort-by {
  width: 150px;
}

.feed {
  margin-left: 20rem;
}

#list-btn {
  width: 28px;
}

#add-btn,
#refresh-btn {
  width: 24px;
}

#add-feed {
  background-color: var(--bg-new-feed);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 320px;
}

#logo {
  align-self: center;
}

#search-bar {
  position: relative;
}

input::placeholder {
  font-family: var(--italic-font);
}

#search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  margin-top: 8px;
  padding-left: 10px;
}

#search-input {
  padding-left: 2.1rem;
  width: 480px;
}

#all {
  padding-right: 1.5rem;
}

#all,
#categories {
  font-family: var(--bold-font);
  cursor: pointer;
}

.inactive {
  color: #b6b6b6;
}

#tool-bar {
  padding-top: 10px;
}

#refresh {
  align-items: center;
  cursor: pointer;
}

.form-btn {
  width: 100px !important;
  margin-left: 20px;
}

#add-btn {
  background-color: var(--bg-new-feed);
  border-color: var(--bg-new-feed);
}

.news {
  background-color: var(--bg-news);
  border-radius: 25px;
}

.form-buttons button:hover {
  opacity: 0.8;
  border-color: #505050 !important;
}

.categoria-label {
  background-color: #E0861E;
  color: white;
  border-radius: 25px;
  width: 150px;
  font-style: italic;
}

.footer {
  font-style: italic;

}

.visitar {
  align-items: center;
  cursor: pointer;
  text-decoration: underline;  
  font-weight: bold;
}