@import "variables.css";

body {
  font-family: var(--regular-font);
}

.list {
  padding-top: 5rem;
}

.sort-by {
  width: 150px;
}

.feed {
  margin-left: 20rem;
}

#list-btn {
  width: 28px;
}

#add-icon,
#refresh-btn {
  width: 24px;
}

/* sidebar */
#siderbar {
  width: 320px;
  background-color: var(--bg-sidebar);
  color: var(--titles-sidebar);
  font-family: var(--bold-font);
  height: 100%;
  position: fixed;
  z-index: 100;
}

.sidebar-wrapper {
  position: relative;
}

#showAll-btn {
  cursor: pointer;
}

#delete{
  cursor:pointer;
}

#source-container{
  overflow:auto;
  height: 200px;
}
.feed-source {
  background-color: var(--bg-source-tag);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.feed-source img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
}

.feed-source p {
  font-size: 14px;
  padding-left: 8px;
  color: var(--bg-new-feed);
  margin-bottom: 0;
}

#add-feed {
  background-color: var(--bg-new-feed);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  width: 320px;
  color: #ffffff;
}

#add-feed:hover {
  background-color: var(--bg-new-feed-hover);
}

#logo {
  margin: auto;
  width: 220px;
  height: 220px;
  object-fit: cover;
  align-self: center;
  border-radius: 100%;
}

#search-bar {
  position: relative;
}

input::placeholder {
  font-family: var(--italic-font);
}

#search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  margin-top: 8px;
  padding-left: 10px;
}

#search-input {
  padding-left: 2.1rem;
  width: 480px;
}

#all {
  padding-right: 1.5rem;
}

#all,
#categories {
  font-family: var(--bold-font);
  cursor: pointer;
}

.inactive {
  color: #b6b6b6;
}

#tool-bar {
  padding-top: 10px;
}

#refresh {
  align-items: center;
  cursor: pointer;
}

/* Add feed modal */
#new-feed .modal-content {
  border-radius: 18px;
}

.form-btn {
  width: 100px !important;
  margin-left: 20px;
}

#add-btn {
  background-color: var(--bg-new-feed);
  border-color: var(--bg-new-feed);
}

.form-buttons button:hover {
  opacity: 0.8;
  border-color: #505050 !important;
}

/* Articles format */
.news {
  background-color: var(--bg-news);
  border-radius: 25px;
  margin-bottom: 1.3rem;

}

.news-image {
  background-color: #ffffff;
  height: 200px;
  width: 200px;
}

.info{
  height: 300px;
  overflow: auto;
}
.title {
  font-family: var(--extrabold-font);
}

.fecha {
  font-style: italic;
}

.categoria-label {
  background-color: var(--bg-category-tag);
  color: #ffffff;
  border-radius: 25px;
  width: 150px;
  font-family: var(--italic-bold-font);
}

.visitar {
  font-style: italic;
  align-items: center;
  cursor: pointer;
}

.visitar a {
  color: #000000;
  font-weight: bold;
}
